@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #202124;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition:
    background-color 0s 600000s,
    color 0s 600000s;
}
